.text-white{
    color:white;
}

html, body {
    height: 100%;
    width: 100%;
}

header.masthead {
    background: url('../content/headPhoto.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 20rem 0;
    }
}

.center {
    margin: auto;
    width: 50%;
}

#navbar > ul > li > a {
    color: #ecf0f1;
}

nav {
    background-color: #f5f0e7;
}

.boarder-bottom {
    border-bottom: 5px solid #e6dac3;
}

.blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.telephone-span {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.text-color {
    color: #59752d;
    font-family: 'Fjalla One', sans-serif;
}

.nav-link{
    color: #59752d;
}

.text-center {
    text-align: center;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a2bdbe;
}

.row-padding {
    padding: 10px;
}

.row-padding-2x {
    padding: 20px;
}

.container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.logo {
    width: 140px;
    height: 120px;
}


