.text-white{
    color:white;
}

html, body {
    height: 100%;
    width: 100%;
}

.jumbotron {
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
}

header.masthead {
    background: url('../content/stockPhoto.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}

.center {
    margin: auto;
    width: 50%;
}

#navbar > ul > li > a {
    color: #ecf0f1;
}

nav {
    background-color: #f5f0e7;
}

.nav-boarder-bottom {
    border-bottom: 5px solid #e6dac3;
}

.blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}